
body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Lato';
    color: #1267AA;
    font-size: 18px;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
    font-family: 'Lato';
    color: #1267AA;
}

a:hover, a:focus {
    color: #1267AA;
    text-decoration: none;
    border-bottom: #1267AA;
    border-bottom-width: thin;
    border-bottom-style: solid;
}

a.linkedin:hover, a.linkedin:focus {
    text-decoration: underline !important;
    border-bottom: none !important;
} 
.content {
    padding: 100px 0px 80px 0px;
}


.hp-content {
    height: 320px;
    width: 650px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}


.navbar {
    min-height: 55px;
    border: none;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #1267AA;
}

.navbar-brand {
    text-decoration: none !important;
    border-bottom: none !important;
}



.cit-title {
    font-size: 110px;
    display: block;
    line-height: normal;    
}

.cit-subtitle {
    font-size: 32px;
}

.cit-slogan {
    padding: 40px 0px 40px 0px;
}

.cit-menu {
    padding: 10px 0px 10px 0px;
}

.logo-title {
    display: block;
    line-height: 1.5;  
    font-size: 22px;
    color: #1267AA;
}

.cit-it {
    color: #fff;
    padding: 0px 50px 0 25px;
    background-image: url("/img/cit cloudx.gif");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 170px;
    display: inline-block;
    min-width: 170px;
}

.logo-cit-it {
    color: #fff;
    padding: 0px 12px 0 8px;
    background-image: url("/img/cit cloudx.gif");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 40px;
    display: inline-block;
    min-width: 40px;
}


.fadeIn-first, .fadeIn-second {
    opacity: 0; 
}

.width140 { width: 140px; }

.thumbnail {
    min-height: 265px;
}

.modal.fade {
    top: -100%;
    -webkit-transition: opacity 0.6s linear, top 0.6s ease-out, bottom 0.6s ease-out, margin-top 0.6s ease-out; 
       -moz-transition: opacity 0.6s linear, top 0.6s ease-out, bottom 0.6s ease-out, margin-top 0.6s ease-out;
         -o-transition: opacity 0.6s linear, top 0.6s ease-out, bottom 0.6s ease-out, margin-top 0.6s ease-out;
            transition: opacity 0.6s linear, top 0.6s ease-out, bottom 0.6s ease-out, margin-top 0.6s ease-out;
}



#contact {
    background-image: url(../images/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

#contact .section-heading {
    color: #fff;
}

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 20px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group textarea.form-control {
    height: 236px;
}

#contact .form-control:focus {
    border-color: #1F3358;
    box-shadow: none;
}

#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

#contact .btn {
    color: #fff;
    background-color: #1267AA;
}

#contact .btn:hover {
    color: #fff;
    background-color: #294E92;
}

.glyphicon {
    color: #1267AA;
}

@media (min-width: 769px) and (max-width: 990px){ 
    .thumbnail {
    min-height: 220px;
}
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .content {
        padding: 80px 0px 40px 0px;
    }

    .hp-content {
        height: 470px;
        width: 300px;
        padding-top: 65px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .cit-title {font-size: 66px; }

    .cit-it {
        color: #fff;
        padding: 0px 50px 0 20px;
        background-image: url("/img/cit cloudx.gif");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 120px;
        display: inline-block;
        min-width: 130px;
        line-height: 1.54;
 
}



