<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}

<div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-2 col-md-offset-2 
                                col-sm-3 col-sm-offset-2 
                                col-xs-offset-1">
                        <img src="img/tim.jpg" alt="Tim Cranston" class="width140 center-block img-circle">
                        <div class="text-center">
                        <a  href="https://uk.linkedin.com/pub/tim-cranston/95/9a5/886" class="linkedin" target="_blank"><span style="font-size: 70%;"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="Find Tim on LinkedIn" style="vertical-align:middle;" border="0">&nbsp;Find Tim on LinkedIn</span></a>
                        </div>
                    </div>
                    <div class="col-lg-6 
                                col-md-6 
                                col-sm-6 
                                col-xs-12">
                        <h1>{{ page.title}}</h1>
                             {{ content }}

                    </div>
                </div>
            </div>
        </div>

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    {% include analytics.html %}
    </body>
</html>